
.P-login
    width: 100%
    height: 100%
    background-image: url(./images/bg.jpg)
    background-size: 100% 100%
    .P-login-header

         height: 80px
         background-color: rgba(21,20,13,0.5)
         display: flex
         align-items: center
         img
            width: 40px
            height: 40px 
            margin:0 15px 0 50px
         h1   
            color: white
            font-size: 30px
    .P-login-content
        width: 400px
        height: 280px
        background-color: white
        margin: 50px auto
        padding: 20px 40px
        border-radius: 5px
        box-shadow: 5px 3px 5px 1px black
        h2
          font-size: MP-3600px
          text-align: center
          font-weight: bold
          margin-bottom: 20px
        .login-form
            .login-form-button
                  width: 100%