.P-LayoutHeader
    height:80px
    background-color: white
    .header-top
        height: 40px
        border-bottom: 1px solid rgb(18, 162, 18)
        text-align: right
        line-height: 40px
        padding-right: 40px
        display: flex
        h2
           width: 20%
           text-align: left
           padding-left: 16px
           font-size: 20px
           
        .header-top-right
            width:80% 
            padding-left: 70%
        span
           margin-right: 10px
    .header-bottom
        height: 40px 
        display: flex
        align-items: center 
        .header-bottom-left
            width: 25%
            text-align: center
            font-size: 16px
            position: relative
            
            &::after
                content:''
                position:absolute
                right: 50%
                top:100%
                transform: translateX(50%)
                border-top:20px solid white
                border-bottom:20px solid transparent
                border-left:20px solid transparent
                border-right:20px solid transparent
        .header-bottom-right
            width: 75%  
            margin-right: 40px
            text-align: right  
            span
               padding-left: 2px