.P-viewContent
  background-color:

  .top
    margin-left: 5px
    margin-right: 5px
    margin-bottom: 20px
    display: flex
    justify-content: space-between
    .ant-card-head-title 
        text-align: center
    .mycard
       width:24%
       height: 260px
       &.datacount
         position: relative
         .userCount
          position: absolute
          top: 50%
          left: 35%
          text-align: center
          width: 100px
          p
            font-weight: 1600
            font-size: 40px
          span
            color: #bbb
            font-size: 12px
          
       

  .buttom
    margin-left: 5px
    margin-right: 5px
    display: flex
    justify-content: space-between
    .mycard
       width:49%   

  
    