.P-leftnav
    .M-leftnav-header
        height: 80px
        display: flex
        align-items: center
        background-color: #002140

        h2    
           color: white
           font-size: 26px
        img   
           height: 40px
           width: 40px
           margin: 0 5px
.settOutlined
   position:relative        
   .countState
      position: absolute
      top: -10px
      left: 2px
      font-size: 12px
      background-color:#da4f59
      color: #fff
      border-radius: 6px