.P-leftnav
    .M-leftnav-header
        height: 80px
        display: flex
        align-items: center
        background-color: #002140

        h2    
           color: white
           font-size: 26px
        img   
           height: 40px
           width: 40px
           margin: 0 5px