

.link-button
    background-color: transparent
    border: none !important
    outline: none
    color:  rgb(18, 162, 18)
    outline-color: transparent !important

    &:hover
        cursor pointer
        border: none !important
        outline: none